.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Home .container {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
  height: 55%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro {
  text-align: center;
}

.Home .quizzes {
  max-height: 180px;
  overflow-y: scroll;
}

.Home .quizzes::-webkit-scrollbar {
  display: none; /* Hides the scrollbar on WebKit browsers (Chrome, Safari) */
}

.Home .quizzes {
  -ms-overflow-style: none; /* Hides scrollbar on Internet Explorer and Edge */
  scrollbar-width: none; /* Hides scrollbar on Firefox */
}

.Home .quizzes li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:hover {
  color: #480451;
}

.Home .quizzes li:hover {
  border-bottom: 1px solid #480451;
  background-color: #e9cfed;
}

#createQuizButton {
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  /* color: #36395a; */
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#createQuizButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

#createQuizButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#createQuizButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.createQuizModal {
  position: absolute;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  transform: translate(-50%, 0);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.createQuizModal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createQuizModal form input,
.createQuizModal form textarea {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.createQuizModal form input::placeholder,
.createQuizModal form textarea::placeholder {
  color: #9e9ea7;
}

.createQuizModal form input:focus,
.createQuizModal form input:hover,
.createQuizModal form textarea:focus,
.createQuizModal form textarea:hover {
  outline: none;
  border-color: rgba(189, 76, 234, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(181, 76, 234, 0.1);
}

.createQuizModal form textarea {
  resize: none;
  height: 100px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader h2 {
  display: inline;
}

.modalHeader button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.modalHeader button:hover {
  cursor: pointer;
  color: #480451;
}

#copyPromptButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #b4aeb5;
  outline: none;
  cursor: pointer;
}

#copyPromptButton:hover {
  background-color: #ebd8f0;
}

#addQuestionButton {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

#addQuestionButton:hover {
  background-color: #ebd8f0;
  cursor: pointer;
}

.message {
  text-align: center;
  font-size: 30px;
  margin-top: 20%;
}
